In [9]:
#Task_1
a = abs(-10.25)
print(x)

#abs gives only the absolute values

7.25

In [11]:
x = int(-10.25)
print(x)

#int gives the integer fot the number

-10

In [2]:
#Task_2
#Question, check if 'TO' is present
str1= 'Welcome to Python'
'to' in str1
#use in command to

True

In [101]:
#Task_3
list4 = [[1,2,3],[4,5,6],[7,8,9]]

In [103]:
list4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [105]:
#To access element 1
list4[0][0]

1

In [107]:
#To access element 5
list4[1][1]

5

In [110]:
#To acces 8
list4[2][1]

8

In [111]:
list4=[1,2,[3,4,5,6,[7,8,9]]]

In [125]:
#To access element 2
list4[1]

2

In [116]:
#To access element 4
list4[2][1]

4

In [119]:
#To access element 7,8,9
list4[2][4]

[7, 8, 9]

In [121]:
#To access element 9
list4[2][4][2]

9

In [124]:
#To access element 3.4.5.6
list4[2][:4]

[3, 4, 5, 6]

In [99]:

#Task_4.1 add 70 after 60

list1=[10,20,[30,40,[50,60],80],90,100]
list1[2][2].append(70)

In [37]:
list1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [63]:
#Task_4.2 add [7,8]
list3=[1,2,[3,4,5,6],9]
list4=[7,8]
list3[2].extend(list4)

In [64]:
list3

[1, 2, [3, 4, 5, 6, 7, 8], 9]

In [18]:
#Task_5
dict1 = {
    'april_batch':{
        'student':{
            'name':'Mike',
            'marks':{
                'Python':80,
                'Maths': 70
            }
        }
    }
    
}

In [19]:

#Change name from Mike to Vagish Holla
dict1["april_batch"]["student"]["name"]= 'Vagish holla'

In [20]:
#Access Python Marks
dict1['april_batch']['student']['marks']['Python']

80

In [21]:

#Adding ML& DL Marks
dict1['april_batch']['student']['marks']['ML']=60
dict1['april_batch']['student']['marks']['DL']=60
dict1

{'april_batch': {'student': {'name': 'Vagish holla',
   'marks': {'Python': 80, 'Maths': 70, 'ML': 60, 'DL': 60}}}}

In [22]:

#Task_6 Differences to be noted in Notes

### Task_7 
###### Ask 2 numbers from user and store it in num1 & num2.
###### Ask user to press 1 for Addition, 2 for Substraction, 3 for Multiplication, 4 for Division.
###### Based on number given do the Math.

In [7]:

num1=int(input('Enter a Number:'))
num2=int(input('Enter a Number:'))

Enter a Number:3
Enter a Number:4

In [18]:
operation=int(input('Enter 1 for Addition, 2 for Substraction, 3 for Multiplication, 4 for Division'))

Enter 1 for Addition, 2 for Substraction, 3 for Multiplication, 4 for Division1

In [23]:

operation
if(operation==1):
    print("Addition is ",num1+num2)

elif(operation==2):
    print("subtraction is ",num1-num2)

elif(operation==3):
    print("Multiplication is",num1*num2)

elif(operation==4):
    print("Division is",num1/num2)

else:
    print("Wrong Input")

Addition is  7

#### Task_8
##### i) Using while loop print numbers from 10 to 1.
##### ii) Try using for loop to loop over tuples, sets & dictionaries.

In [31]:

#i) Using while loop print numbers from 10 to 1.
count=10
while(count>0):
    print(count)
    count=count-1

10
9
8
7
6
5
4
3
2
1

In [ ]:

# ii) Try using for loop to loop over tuples, sets & dictionaries.

#looping for tuples
tup = (1,'Hey',2,True,"Vagish",False,3)
for item in tup:
    print(item)
    

#looping over sets
set = {'a','b','c','d'}
for item in set:
    print(item)
    
#looping for dictionaries
dict = {
        "name":"Vagish",
        "Course":"Data Science",
        "batch":"April 2020"
       }
for items in dict.items():
    print(items)