In [9]:
#Task_1
a = abs(-10.25)
print(x)

#abs gives only the absolute values

7.25

In [11]:
x = int(-10.25)
print(x)

#int gives the integer fot the number

-10

In [2]:
#Task_2
#Question, check if 'TO' is present
str1= 'Welcome to Python'
'to' in str1

True

In [101]:
#Task_3
list4 = [[1,2,3],[4,5,6],[7,8,9]]

In [103]:
list4

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [105]:
#To access element 1
list4[0][0]

1

In [107]:
#To access element 5
list4[1][1]

5

In [110]:
#To acces 8
list4[2][1]

8

In [111]:
list4=[1,2,[3,4,5,6,[7,8,9]]]

In [125]:
#To access element 2
list4[1]

2

In [116]:
#To access element 4
list4[2][1]

4

In [119]:
#To access element 7,8,9
list4[2][4]

[7, 8, 9]

In [121]:
#To access element 9
list4[2][4][2]

9

In [124]:
#To access element 3.4.5.6
list4[2][:4]

[3, 4, 5, 6]

In [99]:

#Task_4.1 add 70 after 60

list1=[10,20,[30,40,[50,60],80],90,100]
list1[2][2].append(70)

In [37]:
list1

[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [63]:
#Task_4.2 add [7,8]
list3=[1,2,[3,4,5,6],9]
list4=[7,8]
list3[2].extend(list4)

In [64]:
list3

[1, 2, [3, 4, 5, 6, 7, 8], 9]

In [74]:
#Task_5
dict1 = {
    "april_batch" : {
        "student" : {
            "name" : "Mike" ,
            "marks" : {
                "Python" : 80,
                "Maths" : 70
            }
        }
    }
    
}

In [93]:
dict1 [ "ML"] =80
dict1 ['DL'] = 80

In [94]:
dict1

{'april_batch': {'student': {'name': 'Mike',
   'marks': {'Python': 80, 'Maths': 70}}},
 'ML': 80,
 'DL': 80}